In [1]:
import pandas as pd
from sqlalchemy import create_engine

demographic_df = pd.read_csv("../Resources/demographic.csv")
flavor_df = pd.read_csv("../Resources/flavor.csv")

In [2]:
coffee_df = pd.concat([demographic_df, flavor_df], axis=1, join='inner')
coffee_df

,Unnamed: 0.1,Unnamed: 0,country_of_origin,owner,harvest_year,grading_date,altitude,processing_method,grading_year,year_diff,Unnamed: 0,total_cup_points,aroma,flavor,aftertaste,acidity,body,balance,sweetness,moisture
0,0,0,Ethiopia,metad plc,2014,2015-04-04,1985,Washed / Wet,2015,1,0,90.58,8.67,8.83,8.67,8.75,8.50,8.42,10.0,0.12
1,1,1,Ethiopia,metad plc,2014,2015-04-04,1985,Washed / Wet,2015,1,1,89.92,8.75,8.67,8.50,8.58,8.42,8.42,10.0,0.12
2,2,3,Ethiopia,yidnekachew dabessa,2014,2015-03-26,1985,Natural / Dry,2015,1,2,89.75,8.42,8.50,8.42,8.42,8.33,8.42,10.0,0.00
3,3,4,Ethiopia,metad plc,2014,2015-04-04,1985,Washed / Wet,2015,1,3,89.00,8.17,8.58,8.42,8.42,8.50,8.25,10.0,0.11
4,4,9,Ethiopia,diamond enterprise plc,2014,2015-03-30,1800,Natural / Dry,2015,1,4,88.83,8.25,8.50,8.25,8.50,8.42,8.33,10.0,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,997,1322,India,nishant gurjer,2015,2016-08-23,1000,Natural / Dry,2016,1,997,81.08,7.42,7.42,7.25,7.58,6.92,7.17,10.0,0.06
998,998,1327,India,andrew hetzel,2013,2013-06-03,750,Natural / Dry,2013,0,998,81.00,7.25,7.25,7.17,7.50,7.33,7.17,10.0,0.11
999,999,1332,India,andrew hetzel,2013,2013-06-20,750,Natural / Dry,2013,0,999,81.00,7.42,7.08,7.08,7.33,7.25,7.58,10.0,0.00
1000,1000,1333,United States,andrew hetzel,2012,2012-02-29,914,Natural / Dry,2012,0,1000,81.00,7.33,7.17,7.17,7.67,7.33,7.17,10.0,0.11
1001,1001,1336,United States,james moore,2014,2014-12-23,795,Natural / Dry,2014,0,1001,81.00,7.42,7.25,7.17,7.50,7.25,7.17,10.0,0.09

In [3]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'bean_juice_db'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

Requirement already satisfied: psycopg2 in d:\anaconda\lib\site-packages (2.9.3)

In [4]:
demographic_df.to_sql(name='demographic', con=engine, if_exists='append', index=False)
flavor_df.to_sql(name='flavor', con=engine, if_exists='append', index=False)
coffee_df.to_sql(name='coffee', con=engine, if_exists='append', index=False)

2